.movie-card {
  @extend %flex-row;
  justify-content: center;
  margin: 1.5rem 0;
}

.movie-card__img {
  width: 150px;
  height: auto;
  min-height: 200px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.40);
  z-index: 1;
}

.movie-card__text-content {
  position: relative;
  right: 1rem;
  padding: 1rem 1rem 1.5rem 3rem;
  width: 20rem;
  height: fit-content;
  background: #fff;
  border-radius: 20px;
  box-shadow: $movie-card-shadow;
}

.movie-card__title {
  margin: 0 0 2rem;
  font-size: 1.4rem;
  span {
    font-size: 1.1rem;
  }
}

.movie-card__button {
  padding: 0.4rem 1.4rem;
  border-radius: 50px;
  border: none;
  background-color: $orange-red;
  color: #fff;
  font-size: 1.1rem;
  outline-color: $orange-red;
  &:hover {
    opacity: 0.85;
  }
}

.button--fade {
  outline: none;
  opacity: 0.3;
  &:hover {
    opacity: 0.3;
    cursor: default;
  }
}