@import './searchbar';
@import './movie-card';

.sections__movie-listings {
  margin: 1rem 0.5rem 0 1rem;
  width: 63%;
}

.sections__movie-listings__content {
  @extend %flex-row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: $section-padding;
  height: $section-height;
  background: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: $section-shadow;
  overflow-y: auto;
  overflow-x: hidden;
  @extend %custom-scrollbar;
  &__placeholder {
    margin: 0 0 10rem;
    opacity: 0.6;
    text-align: center;
    font-size: 1.8rem;
  }
  &__error {
    margin: 0 0 10rem;
    opacity: 0.8;
    text-align: center;
    font-size: 1.8rem;
  }
}

.spinner {
  position: relative;
  bottom: 8rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid $gainsboro;
  border-top-color: transparent;
  // animation: duration | easing-function | delay | name
  animation: 1.2s linear infinite spinning;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movie-listings--banner {
  height: $section-height-with-banner;
  transition: all 0.5s;
}