.sections__nominations {
  margin: 1rem 1rem 0 0.5rem;
  width: 32%;

  @media screen and (max-width: 800px) {
    margin: 1rem 0.5rem;
    width: 92%;
  }
}

.sections__nominations__title {
  position: relative;
  top: 0.5rem;
  padding: 1.4rem 0;
  border-radius: 10px;
  background: $orange-red;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-shadow: 0 5px 5px rgba(0,0,0,0.22), 0 1px 2px rgba(0,0,0,0.24);
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  z-index: 2;

  @media screen and (max-width: 800px) {
    padding: 0.7rem 0;
    font-size: 1rem;
  }
}

.sections__nominations__content {
  // using flexbox here to prevent the margin between the 'movie cards' from collapsing
  @include flex-col;
  justify-content: flex-start;
  padding: $section-padding;
  height: $section-height;
  background: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: $section-shadow;
  overflow-y: auto;
  overflow-x: hidden;
  @include custom-scrollbar;

  @media screen and (max-width: 800px) {
    padding: $section-padding-mobile;
    height: $section-height-mobile;
    @include custom-scrollbar-mobile;
  }
}

.sections__nominations__content__placeholder {
  margin: 16rem 0 0;
  opacity: 0.6;
  text-align: center;
  font-size: 1.6rem;

  @media screen and (max-width: 800px) {
    margin: 10rem 0 0;
    font-size: 1rem;
  }
}

.nominations--banner {
  height: $section-height-with-banner;
  transition: all 0.5s;
}