.sections__nominations {
  margin: 2rem 1rem 0 0.5rem;
  width: 32%;
}

.sections__nominations__title {
  position: relative;
  top: 0.5rem;
  padding: 1.5rem 0;
  border-radius: 10px;
  background-color: $orange-red;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-shadow: 0 3px 5px rgba(0,0,0,0.22), 0 1px 2px rgba(0,0,0,0.24);
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  z-index: 2;
}

.sections__nominations__content {
  // using flexbox here to prevent the margin between the 'movie cards' from collapsing
  @extend %flex-col;
  justify-content: flex-start;
  padding: $section-padding;
  height: $section-height;
  background: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: $section-shadow;
  overflow-y: auto;
  overflow-x: hidden;
  @extend %custom-scrollbar;
}