@import '../components/searchbar';
@import '../components/movie-card';

$section-card-height: 85vh;
$section-card-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$section-card-padding: 1rem 0.5rem;

%flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.sections__movie-listings {
  margin: 2rem 0.5rem 0 1rem;
  padding: $section-card-padding;
  width: 62%;
  height: $section-card-height;
  background: #fff;
  border-radius: 5px;
  box-shadow: $section-card-shadow;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
      background: #000;
      border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
      background: #F4F5FA;
  }
}

.sections__movie-listings__content {
  @extend %flex-row;
  &__error {
    margin: 8rem 0 0;
    text-align: center;
    font-size: 1.8rem;
  }
}

.spinner {
  position: relative;
  top: 8rem;
  left: 45%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid #000;
  border-top-color: transparent;
  animation: 1.2s linear infinite spinning;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}