.movie-card, .sections__movie-listings__content, .sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sections__nominations__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sections__movie-listings__content::-webkit-scrollbar, .sections__nominations__content::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 0.7rem;
}

.sections__movie-listings__content::-webkit-scrollbar-thumb, .sections__nominations__content::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background-color: #E1E2E6;
  border-radius: 20px;
}

.sections__movie-listings__content::-webkit-scrollbar-track, .sections__nominations__content::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background-color: #fff;
}

.heading {
  position: relative;
  padding: 0.4rem;
  height: 3rem;
  background: -webkit-gradient(linear, left top, right top, from(#e44d26), to(#f16529));
  background: linear-gradient(to right, #e44d26, #f16529);
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #fff;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 300;
  text-transform: lowercase;
  z-index: 1;
}

.banner {
  margin: 1rem 0 0;
  padding: 0.5rem;
  width: 60%;
  border-radius: 5px;
  background-color: #50B83C;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  z-index: 1;
}

.search {
  position: relative;
  top: 0.5rem;
  padding: 1.1rem 0;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#e44d26), to(#f16529));
  background: linear-gradient(to right, #e44d26, #f16529);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  z-index: 2;
}

.search__search-icon {
  position: relative;
  top: 0.2rem;
  left: 2.5rem;
  width: 1.2rem;
  height: 1.1rem;
}

.search__search-input {
  padding: 0.6rem 1rem 0.6rem 3.5rem;
  width: 30rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  outline-color: #D7D8DB;
}

.movie-card {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.5rem 0;
}

.movie-card__img {
  width: 130px;
  height: auto;
  min-height: 200px;
  border-radius: 20px;
  -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.movie-card__text-content {
  position: relative;
  right: 1rem;
  padding: 1rem 1rem 1.5rem 3rem;
  width: 14rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15), 0 7px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15), 0 7px 8px rgba(0, 0, 0, 0.05);
}

.movie-card__title {
  margin: 0 0 2rem;
  font-size: 1.3rem;
}

.movie-card__title span {
  font-size: 1.1rem;
}

.movie-card__button {
  padding: 0.4rem 1.4rem;
  border-radius: 50px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#e44d26), to(#f16529));
  background: linear-gradient(to right, #e44d26, #f16529);
  color: #fff;
  font-size: 1.1rem;
  outline-color: #D7D8DB;
}

.movie-card__button:hover {
  opacity: 0.85;
}

.nominations--animation {
  -webkit-animation: 0.3s ease-in 0s nominations-card-display;
          animation: 0.3s ease-in 0s nominations-card-display;
}

@-webkit-keyframes nominations-card-display {
  0% {
    display: none;
    margin: 1.5rem 0 0 -50rem;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  100% {
    display: -webkit-box;
    display: flex;
    margin: 1.5rem 0;
  }
}

@keyframes nominations-card-display {
  0% {
    display: none;
    margin: 1.5rem 0 0 -50rem;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  100% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1.5rem 0;
  }
}

.nominations--img {
  width: 110px;
  height: auto;
  min-height: 100px;
  border-radius: 20px;
  -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.button--fade {
  outline: none;
  opacity: 0.3;
}

.button--fade:hover {
  opacity: 0.3;
  cursor: default;
}

.sections__movie-listings {
  margin: 1rem 0.5rem 0 1rem;
  width: 63%;
}

.sections__movie-listings__content {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0;
  height: 78vh;
  background: #fff;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow-y: auto;
  overflow-x: hidden;
}

.sections__movie-listings__content__placeholder {
  margin: 0 0 10rem;
  opacity: 0.6;
  text-align: center;
  font-size: 1.8rem;
}

.sections__movie-listings__content__error {
  margin: 0 0 10rem;
  opacity: 0.8;
  text-align: center;
  font-size: 1.8rem;
}

.spinner {
  position: relative;
  bottom: 8rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid #D7D8DB;
  border-top-color: transparent;
  -webkit-animation: 1.2s linear infinite spinning;
          animation: 1.2s linear infinite spinning;
}

@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.movie-listings--banner {
  height: 73vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sections__nominations {
  margin: 1rem 1rem 0 0.5rem;
  width: 32%;
}

.sections__nominations__title {
  position: relative;
  top: 0.5rem;
  padding: 1.4rem 0;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#e44d26), to(#f16529));
  background: linear-gradient(to right, #e44d26, #f16529);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.22), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  z-index: 2;
}

.sections__nominations__content {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem 0;
  height: 78vh;
  background: #fff;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow-y: auto;
  overflow-x: hidden;
}

.sections__nominations__content__placeholder {
  margin: 16rem 0 0;
  opacity: 0.6;
  text-align: center;
  font-size: 1.6rem;
}

.nominations--banner {
  height: 73vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F4F5FA;
  overflow-x: hidden;
}

body button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
}

body button:hover {
  cursor: pointer;
}

.sections {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  top: -4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 0;
}

.sections--with-banner {
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/*# sourceMappingURL=App.css.map */